@import "tailwindcss";

:root {
  --background: #5D0303;
  --foreground: #F8FF9A;
  --red-custom: #830E0E;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jost);
  --font-mono: var(--font-jost);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5D0303;
    --foreground: #ffffff;
    --red-custom: #830E0E;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}